

<ion-content [fullscreen]="true">
  
  <div class="container">


    <div class="jumbotron">
      <h1 class="display-4" style="font-size: 3rem; font-weight: bold;">Reach Out!</h1>
      <p class="lead">
        Hello there! I am always open to discuss new projects, creative ideas or opportunities to be part of your visions.
        <br>
        Get in touch with me and let's make something great together.        
      </p>
      <hr> 

    </div>



  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contact Number</ion-label>
        <ion-input type="tel" formControlName="contact"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-textarea formControlName="message"></ion-textarea>
      </ion-item>
      
      <ion-button expand="block" color="primary" type="submit">Submit</ion-button>
      <ion-button expand="block" color="secondary" type="reset">Reset</ion-button>



  </form>
</div>



</ion-content>
