<ion-content [fullscreen]="true">

  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4" style="font-size: 2rem; font-weight: bold;">Reach Out!</h1>
      <p class="lead">
        Feel free to reach out to me if you have any questions or just want to chat. 
        <br>
        If you're looking to get in touch for some craic, don't hesitate—my virtual door is always open!
      </p>
      <hr>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

      <ion-item [class.invalid]="contactForm.get('name').invalid && contactForm.get('name').touched">
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input type="text" formControlName="name" placeholder="John Doe"></ion-input>
        <div *ngIf="contactForm.get('name').hasError('required') && contactForm.get('name').touched">
          Full Name is required.
        </div>
      </ion-item>

      <ion-item [class.invalid]="contactForm.get('email').invalid && contactForm.get('email').touched">
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input type="email" formControlName="email" placeholder="john.doe@example.com"></ion-input>
        <div *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">
          Email Address is required.
        </div>
        <div *ngIf="contactForm.get('email').hasError('email') && contactForm.get('email').touched">
          Please enter a valid email address.
        </div>
      </ion-item>

      <ion-item [class.invalid]="contactForm.get('contact').invalid && contactForm.get('contact').touched">
        <ion-label position="stacked">Contact Number</ion-label>
        <ion-input type="tel" formControlName="contact" placeholder="Example: 07123456789"></ion-input>
        <div *ngIf="contactForm.get('contact').hasError('required') && contactForm.get('contact').touched">
          Contact Number is required.
        </div>
      </ion-item>

      <ion-item [class.invalid]="contactForm.get('message').invalid && contactForm.get('message').touched">
        <ion-label position="stacked">Message</ion-label>
        <ion-textarea formControlName="message" placeholder="Your message goes here..."></ion-textarea>
        <div *ngIf="contactForm.get('message').hasError('required') && contactForm.get('message').touched">
          Message is required.
        </div>
      </ion-item>

      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button expand="full" color="primary" type="submit" id="submit" [disabled]="contactForm.invalid">Submit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="secondary" type="reset">Reset</ion-button>
        </ion-col>
      </ion-row>

    </form>

  </div>

</ion-content>
