<ion-content>

  <div class="container" id="tobyimg-container">

    <br>
    <div class="container text-center" id="name-container">
      <span class="toby" id="fullname">TOBY KILLEN</span>
    </div>


    <img src="{{ current_image }}" alt="Avatar" class="profile-image">
    <br>
    <br>
    <br>

    <div class="container text-center" id="info-container">
      <span class="info" id="info">SOFTWARE ENGINEER</span>
      <br>
      <span class="info" id="info">BELFAST, UK</span>
    </div>

    <div class="container" id="social-tags">
      <a href="https://github.com/TobyKillen/" target="_blank">
        <ion-icon name="logo-github" class="social-icon"></ion-icon>
      </a>

      <a href="https://www.linkedin.com/in/tobykillen/" target="_blank">
        <ion-icon name="logo-linkedin" class="social-icon"></ion-icon>
      </a>

      <a href="https://pypi.org/user/TobyKillen/" target="_blank">
        <ion-icon name="logo-python" class="social-icon"></ion-icon>
      </a>
    </div>


    <br>
    <br>
    <br>
    
    



  </div>



</ion-content>
