#tobyimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#tobyimg-container {
  text-align: center;
}

#tobykillen {
  font-size: 5rem;
  font-weight: bold;
}

#fullname {
  font-weight: bold;
  font-size: 4.5rem;
  font-style: italic;
}

#name-container {
  text-align: center;
}

.profile-image {
  width: 350px; 
  border-radius: 100%;
  margin-top: 10px;
}

#info-container {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

#social-tags {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  font-size: 40px;
  margin: 0 10px;
}


























@media screen and (max-width: 600px) {

  #tobyimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  
  #tobyimg-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #tobykillen {
    font-size: 5rem;
    font-weight: bold;
  }
  
  #fullname {
    font-weight: bold;
    font-size: 2.5rem;
    font-style: italic;
  }
  
  #name-container {
    text-align: center;
  }
  
  .profile-image {
    width: 350px; 
    border-radius: 100%;
    border: 1px solid black;
    margin-top: 10px;
  }

  #info-container {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
  }
  
}



