<ion-content>


  <div class="container">



    <!-- jumbotron -->
    <div class="jumbotron" style="padding: 2rem;">
      <div class="container">
        <h1 class="display-4" style="font-size: 3rem; font-weight: bold;">Introducing Toby:</h1>
        <p class="lead" style="font-size: 1.5rem;">The Mastermind Behind Innovation</p>
        <hr class="my-4" style="border-color: #343a40;">
        <p style="font-size: 1.2rem; margin-bottom: 2rem;">
          Toby, the exceptional software developer, possesses an unmatched prowess in the realm of technology.
          With a keen eye for detail and a brilliant mind, Toby brings dreams to life through lines of code.
        </p>
        <p class="lead">
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button" style="font-size: 1.2rem;">Learn More</a> -->
        </p>
      </div>
    </div>
    



    <div class="container">
      <div class="row">
        <div class="col-sm">

          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>

        </div>
        <div class="col-sm">


          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>


        </div>
        <div class="col-sm">

          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>







  </div>





</ion-content>