

<ion-content [fullscreen]="true">

  <ion-content>
    <div class="container">
      <h1>Welcome to my website!</h1>
      <p>
        Hi, I'm Toby, a passionate software developer with a focus on creating
        innovative and efficient solutions. I have a strong background in
        developing web and mobile applications using various technologies and
        frameworks.
      </p>
      <p>
        My journey in software development started during my college days when I
        developed my first website. Since then, I've been constantly honing my
        skills and exploring new technologies to stay up-to-date with the latest
        trends in the industry.
      </p>
      <p>
        I specialize in front-end development using Angular and Ionic frameworks.
        I'm experienced in building responsive and user-friendly interfaces that
        provide a seamless user experience across different devices.
      </p>
      <p>
        Apart from coding, I'm an avid learner and enjoy staying updated with the
        latest technologies. I believe in the power of teamwork and collaboration,
        and I'm always excited to work on challenging projects that push me to
        learn and grow.
      </p>
      <p>
        If you have any project ideas or would like to collaborate, feel free to
        reach out to me. I'm always open to new opportunities and love connecting
        with fellow developers.
      </p>
    </div>
  </ion-content>
</ion-content>
